<div class="p-6 transition-shadow ease-in-out bg-gray-200 rounded-lg shadow-md hover:shadow-xl">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <div class="flex flex-col">
      <div class="font-bold text-2xl">
        Title
      </div>
      <div>
        Description
      </div>
      <div class="font-medium text-sm text-gray-700">
        Stack
      </div>
    </div>
    <div class="inline-flex">
      <img src="" alt="Project Thumbnail">
    </div>
  </div>
</div>
