<section class="prose dark:prose-dark">
  <img src="assets/favicon.png" alt="portrait" class="rounded-full shadow-md">
  <h1>
    Hello, I'm {{"name"}}! 👋
  </h1>
  <div class="font-semibold text-2xl">
    Software Engineer
  </div>
  <div class="flex">
    <a href="https://www.github.com/blai30/">
      <i class="bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/blai/">
      <i class="bi-linkedin"></i>
    </a>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto culpa deleniti eius harum ipsam, laboriosam magnam neque, perspiciatis quaerat, qui soluta sunt unde vitae voluptas. Cum dolor esse facere?
  </p>
</section>
