<header class="fixed z-20 w-full opacity-90">
  <div class="px-4 mx-auto max-w-screen-md w-auto py-5 md:py-9">
    <!-- Navigation links -->
    <nav class="flex justify-between items-center">
      <!-- Left -->
      <ul class="items-center space-x-6">
        <li class="dark:text-white">
          {{"Brand"}}
        </li>
      </ul>

      <!-- Right side -->
      <ul class="px-4 inline-flex items-center space-x-2">
        <app-dark-toggle></app-dark-toggle>
      </ul>
    </nav>
  </div>
</header>
