body {
  background-color: #121212;
  color: #eeeeee;
  font-family: ministry, Helvetica, Arial, sans-serif;
}

.container {
}

.navbar {
  padding: 64px 0px;
}

.nav-link {
  margin-left: 16px;
}

.nav-item.active {
  color: #eeeeee;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
}
