<div class="space-y-16">
  <section>
    <app-hero
      firstName="name"
      lastName="Lai"
      avatarUrl="assets/favicon.png"
      occupation="Software Engineer"
      about="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem blanditiis, cum debitis deserunt dicta est et hic ipsum libero maxime non, pariatur quam qui recusandae repellendus sit voluptas, voluptatum."
      githubUrl="https://www.github.com/blai30/"
      linkedinUrl="https://www.linkedin.com/in/blai/"
      resumeUrl="https://www.bhlai.com/resume/"
    ></app-hero>
  </section>
  <section>
    <app-portfolio></app-portfolio>
  </section>
  <section>
    <app-skills></app-skills>
  </section>
  <section>
    <app-experience></app-experience>
  </section>
  <section>
    <app-contact
      email="brianlai30@outlook.com"
      description="If you have any business inquiries, shoot me an email! I am open to all entry level software engineer opportunities."
    ></app-contact>
  </section>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda at autem dicta, distinctio eveniet facilis
    fugiat, hic id impedit laborum magni molestias odit officia omnis reiciendis, sapiente vero. Omnis.
  </div>
  <div>Ad eligendi sit unde voluptatum. Ad assumenda, atque facilis fugiat illum ipsam itaque maxime odit qui quibusdam,
    sint, suscipit ut vero! Debitis doloribus fuga incidunt qui quo quod repellat saepe!
  </div>
</div>
