<div class="flex flex-col space-y-16">
  <section class="flex">
    <app-hero></app-hero>
  </section>
  <section class="flex">
    <app-portfolio></app-portfolio>
  </section>
  <section class="flex">
    <app-skills></app-skills>
  </section>
  <section class="flex">
    <app-experience></app-experience>
  </section>
  <section class="flex">
    <app-contact></app-contact>
  </section>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda at autem dicta, distinctio eveniet facilis
    fugiat, hic id impedit laborum magni molestias odit officia omnis reiciendis, sapiente vero. Omnis.
  </div>
  <div>Ad eligendi sit unde voluptatum. Ad assumenda, atque facilis fugiat illum ipsam itaque maxime odit qui quibusdam,
    sint, suscipit ut vero! Debitis doloribus fuga incidunt qui quo quod repellat saepe!
  </div>
</div>
