<div class="space-y-4">
  <app-hero
    firstName="name"
    lastName="Lai"
    avatarUrl="assets/favicon.png"
    occupation="Software Engineer"
    about="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem blanditiis, cum debitis deserunt dicta est et hic ipsum libero maxime non, pariatur quam qui recusandae repellendus sit voluptas, voluptatum."
    githubUrl="https://www.github.com/blai30/"
    linkedinUrl="https://www.linkedin.com/in/blai/"
    resumeUrl="https://www.bhlai.com/resume/"
  ></app-hero>
</div>
