
html {
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
}

.bg-black {
  background: #101010;
}

.newsletters {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.required:after {
  content: " *";
  color: rgb(180, 0, 0);
}

.index-page .squares {
  background: linear-gradient(0deg, #5e5e5e 0%, #3f3f3f 100%);
}

.card {
  background: #252525;
}

.modal.modal-black .modal-content {
  background: #202020;
  color: rgba(255, 255, 255, 0.8);
}

.footer {
  border-top: 2px solid rgb(48, 41, 110);
  background: radial-gradient(ellipse at bottom, rgb(30, 31, 48) 30%, #0f0f18 80%);
  padding-top: 0;
  padding-bottom: 20px;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1560px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}
